.reactions-container {
  display: flex;
  flex-direction: column;
  .reactions {
    white-space: nowrap;
    overflow-x: scroll;
    &::-webkit-scrollbar  {
      display: none
    }
    .emoji {
      cursor: pointer;
      color: white;
    }
  }
}
.post-footer {
  height: 45%;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 50% , rgba(0, 0, 0, 0.0));

}
.swiper-custom {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  .swiper-slide {
    opacity: 0!important;
  }
  
  .swiper-slide-active {
    opacity: 1!important;
  }
}
.swiper-custom::-webkit-scrollbar {
  display: none
}
