.caption {
  color: white;
  cursor: pointer;
  padding: 0 8px;
  display: flex;
  overflow: hidden;

}
.closed {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.expanded {
  overflow: scroll;
}
.expanded::-webkit-scrollbar {
  display: none;
}