.create-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  &::-webkit-scrollbar  {
    display: none
  }
  .body {
    display: flex;
    flex-direction: column;
    width: 100%;
    // overflow-y: scroll;
    max-width: 470px;
    padding: 8px
  }
}