.add-post-widget {
  display: flex;
  flex-direction: column;
  .text-image-container {
    display: flex;
    align-items: center;
    .image {
      border: 1px solid black;
  
    }
    .input-area {
      display: flex;
      flex-direction: column;
      max-width: 300px;
      height: 100px;
      overflow-y: auto;
    }
  }
  
}